@page "/products"

<h3>Products Page</h3>

<ul>

    @if (products != null)
    {

        @foreach (var product in products)
        {
            <li>
                <NavLink href="@($"products/{product.Id}")">@product.Name</NavLink>
            </li>
        }
    }
</ul>

