@page "/products/{id:int}"

@inject IProductService productService

<h3>ProductPage</h3>

<div>

    @if (product != null)
    {

        @product.Name

        <br />

        @product.Description


        @if (product.IsActive)
        {
            <img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
        }


        <label for="isactive">Active</label>
        <input type="checkbox" id="isactive" @bind-value="product.IsActive" />        

    }




</div>

@code {

    private Product product;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        product = await productService.GetAsync(Id);
    }

}
