@page "/products"

@inject IProductRepository productRepository

<h3>Products Page</h3>


<SearchBarComponent OnSearch="HandleSearch" />


@*<ul>
        @foreach(var product in products)
        {
            <li>@product.Name</li>
        }
    </ul>*@

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
        </tr>
    </thead>

    <tbody>

        @if (products.Any())
        {
            @foreach (var product in products)
            {
                <ProductItemComponent Product="@product" />

            }
        }
        else
        {
            <tr>
                <td>Cannot find products</td>
            </tr>
        }

    </tbody>

    <tfoot>
        <tr>
            Quantity: @products.Count()
        </tr>

    </tfoot>
</table>

@code {

    private IEnumerable<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await productRepository.GetAsync();
    }

    private async Task HandleSearch(string filter)
    {
        if (!string.IsNullOrEmpty(filter))
            products = await productRepository.GetByColorAsync(filter);
        else
            products = await productRepository.GetAsync();

    }
}
